.menu {
  margin: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.menuIcon {
  background-image: linear-gradient(
    5deg,
    var(--gold-deep) 0%,
    var(--gold-bright) 50%,
    var(--gold-highlight) 100%
  );
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: 1.4rem;
  
}

.menuIcon:hover {
  filter: brightness(50%);
}
